/* BÌA TRUYỆN TRANH */
.comic-banner{
    background-image: url("https://ik.imagekit.io/pk330050/Manga_Holder/img/bia_banner_8a2GVXBhQ6.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1653463317159");
    height: auto;
    max-height: auto;
    min-width: 1300px;
  }
  .comic-banner .container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  .banner-summary{
    padding: 20px 0 30px;
    display: table;
    width: 100%;
  }
  .banner-summary .banner-img{
    width: 195px;
    padding: 15px;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
  }
  .banner-summary .banner-img img{
    width: 190px;
    height: 270px;
  }
  .banner-summary .banner-content-wrap{
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
  }
  .banner-summary .banner-content-wrap .banner-content{
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 0;
    padding: 20px 30px 30px;
    font-size: 0;
    min-height: 260px;
  }
  .banner-summary .banner-content-wrap .banner-content .content-trai{
    width: 60%;
  }
  .banner-content-wrap .banner-content .content-trai,.banner-content-wrap .banner-content .content-phai{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
  }
  .banner-summary .content-trai .content-trai-item, .content-rating{
    font-size: 0;
    margin-bottom: 3px;
  }
  .banner-summary .content-trai .content-trai-item > *,
  .banner-summary .content-phai .content-trai-item > *{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
  }
  .banner-summary .content-trai h1{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .banner-summary .content-trai .content-trai-item .content-trai-heading,
  .content-phai .content-trai-item .content-trai-heading{
    width: 120px;
  }
  .banner-summary .content-trai .content-trai-item .content-trai-heading h5,
  .content-phai .content-trai-item .content-trai-heading h5{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .banner-summary .content-trai .content-trai-item .content-trai-detail,
  .content-phai .content-trai-item .content-trai-detail{
    width: calc(95% - 120px);
    word-break: break-word;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 8px;
    color: rgb(135,134,134);
  }
  .banner-summary .content-trai .content-trai-item .content-trai-detail a{
    font-size: 16px;
    color: rgb(135,134,134);
  }
  .banner-summary .content-trai .content-trai-item .content-trai-detail a:hover{
    color: rgb(255,192,0);
  }
  .banner-summary .content-trai .content-rating{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
    color: rgb(255,192,0);
  }
  .banner-summary .content-trai .content-rating .score-rating{
    margin-left: 3px;
    font-weight: 600;
    color: #333;
    font-size: 20px;
  }
  .banner-summary .content-trai .content-button{
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .banner-summary .content-trai .content-button button{
    border-radius: 12px;
    padding: 5px;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    margin-right: 13px;
  }
  .content-button button:hover{
    transform: translatex(5px);
    box-shadow: none;
  }
  .banner-summary .content-trai .content-button a{
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600px;
    padding: 10px;
  }
  .banner-summary .banner-content-wrap .banner-content .content-phai{
    width: 40%;
    margin-top: 44px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
  }
  .toggle {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .toggle input[type=checkbox] {
    display: none;
  }
  .toggle label {
    color: black;
    position: relative;
  }
  .toggle input[type=checkbox] + label::before {
    content: " ";
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid #F4F4F4;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: #F4F4F4;
  }
  .toggle input[type=checkbox] + label::after {
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -75px;
    background: #FF686B;
    transition: all 0.3s ease-in;
  }
  .toggle input[type=checkbox]:checked + label::after {
    left: -40px;
    transition: all 0.3s ease-in;
    background-color: #00FF00;
  }
  /*phần dưới banner*/
  .detail-content{
    padding-bottom: 6px;
    width: 80%;
    padding-left: 50px;
  }
  .detail-content h3{
    color: #8AAAE5;
    border-bottom: 2px solid #8AAAE5;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    margin: 10px 0 10px;
    padding-bottom: 2px;
  }
  .detail-content p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 20px;
  }
  .detail-content .an-hien{
    padding: 7px 0px 10px 11px;
  }
  .detail-content .an-hien input[type=button]{
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #8AAAE5;
    color: #8AAAE5;
    padding: 6px 6px;
  }
  ul.list-ul{
    display: block;
    list-style-type: disc;
    padding-inline-start: 30px;
    padding-top: 12px;
    padding-bottom: 15px;
  }
  .list-ul li:first-child{
    width: 90%;
    border-top: 1px solid #E4E4E4;
  }
  .list-ul li{
    width: 90%;
    border-bottom: 1px solid #E4E4E4;
  }
  .list-ul li:hover{
    background-color: #F4F4F4;
    cursor: pointer;
  }
  .list-ul li a{
    display: block;
    height: 73px;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
  }
  .list-ul li a img{
    width: 77px;
    height: 73px;
    padding: 0;
    vertical-align: top;
    border: 0;
    aspect-ratio: auto 77 / 73;
    vertical-align: top;
  }
  .detail-content ul.list-ul span{
    display: inline-block;
    padding-top: 26px;
    vertical-align: top;
  }
  .detail-content .chapter-number{
    width: 424px;
    margin-left: 12px;
    padding-top: 24px;
    font-size: 15px;
  }
  .detail-content .chapter-space{
    display: none;
    width: 114px;
    height: 100%;
    padding: 0;
    vertical-align: top;
  }
  .detail-content .ngay-ra-truyen{
    width: 102px;
    font-size: 14px;
    color: #b1b1b1;
    letter-spacing: 1px;
  }
  .detail-content .luot-xem{
    width: 76px;
    font-size: 14px;
    color: #b1b1b1;
    letter-spacing: 1px;
  }
  /*phần comment*/
  .comment {
    word-break: break-word;
    display: block;
    width: 70%;
    color: black;
    margin-left: 20px;
  }
  .commentClicked {
    min-height: 0px;
    border: 1px solid #E8E8E8;
    padding: 5px 10px
  }
  .container textarea {
    width: 70%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 60%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #8AAAE5;
    border-left: 2px solid #8AAAE5;
    transition: all 0.5s;
    margin: 15px 0 20px 20px;
  }
  .comment-box{
    display: flex;
    align-items: center;
  }
  button.primaryContained {
    background: #8AAAE5;
    color: #fff;
    margin-left: 14px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    font-size: 10px;
    border-radius: 5px;
  }